<svg class="enterprise-hero-flows hidden lg:block" viewBox="0 0 1200 640" preserveAspectRatio="xMidYMid slice" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
    <path class="enterprise-hero-flow enterprise-hero-flow--blue"
          d="M 1220 20 C 980 40, 900 140, 780 200 S 520 340, 460 520" />
    <path class="enterprise-hero-flow enterprise-hero-flow--blue enterprise-hero-flow--soft"
          d="M 1180 80 C 960 110, 860 210, 740 270 S 500 400, 420 560" />
    <path class="enterprise-hero-flow enterprise-hero-flow--navy"
          d="M 940 60 C 800 120, 760 260, 640 310 S 500 430, 540 600" />
    <path class="enterprise-hero-flow enterprise-hero-flow--navy"
          d="M -20 620 C 120 540, 200 420, 360 390 S 580 300, 660 140" />
    <path class="enterprise-hero-flow enterprise-hero-flow--blue enterprise-hero-flow--soft"
          d="M 40 580 C 180 500, 260 400, 400 370 S 620 290, 700 180" />
</svg>
